# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Other
.DS_Store
bots.db
bots.db-journal
*.tmp
.env
bots_collaborator.db
